/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after{
	content: "";
    display: table;
    clear: both;
}
/* elements positioning */
.fltlft{
    float: left;
}
.marginbt20{
    margin-bottom: 40px;
}
/* colors */
.bgpurple{
    background-color: purple;
}
.bgpink{
    background-color: rgb(238, 124, 248);
}
.bgazure{
    background-color: rgb(153, 203, 253);
}
.bgltblue{
    background-color: rgb(0, 156, 253);
}
.bgyellow{
    background-color: rgb(245, 245, 113);
}
/* sizing */
.container{
    margin: 40px auto;
    width: 80%;
}
.realheader{
    width: 100%;
    height: 200px;
}
section{
    width: 100%;
    height: 600px;
}
main{
    width: 100%;
    height: 650px;
    margin-bottom: 10px;
}
footer{
    width: 100%;
    height: 80px;
}
.article-title{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
}
aside{
    width: 25%;
    height: calc((100% - 100px) - 60px);
}
article{
    width: calc(50% - 40px);
    height: calc((100% - 100px) - 60px);
    margin: 0px 20px;
}

