/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after{
	content: "";
    display: table;
    clear: both;
}
.fltlft{
    float: left;
}

/* temporary */
body{
    background-color: khaki;
}

.bgpink{
    background-color: pink;
}
.bgblue{
    background-color: blue;
}

/* sizing */
.container{
    margin: 20px auto;
    width: 80%;
}

.realheader{
    width: 100%;
    height: 200px;
}
.realcontent{
    width: 100%;
    height: 600px;
}
.marginbt20{
    margin-bottom: 20px;
}
footer{
    width: 100%;
    height: 80px;
}
.article-title{
    width: 100%;
    height: 100px;
}
aside{
    width: 25%;
    
}
/* colors */
.bgpurple{
    background-color: purple;
}

