/* reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after{
	content: "";
    display: table;
    clear: both;
}
.fltlft{
    float: left;
}

/* temporary */
body{
    background-color: khaki;
}

.bgpink{
    background-color: pink;
}
.bgblue{
    background-color: blue;
}

/* sizing */
.container{
    margin: 20px auto;
    width: 80%;
}

.realheader{
    width: 100%;
    height: 200px;
}
section{
    width: 100%;
    height: 600px;
}
.marginbt20{
    margin-bottom: 40px;
}
main{
    width: 100%;
    height: 650px;
    margin-bottom: 10px;
}
footer{
    width: 100%;
    height: 80px;
}
.article-title{
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}
aside{
    width: 25%;
    height: calc((100% - 100px) - 30px);
}
article{
    width: calc(50% - 20px);
    height: calc((100% - 100px) - 30px);
    margin: 0px 10px;
}
/* colors */
.bgpurple{
    background-color: purple;
}

